* {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}

ul,
ol,
body {
    margin: 0px;
    padding: 0;
}

body {
    background-color: rgb(255, 221, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* CSS de Header */

.boton {
    display: flex;
}

.buscador {
    display: flex;
}

.sectionbuscador {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;
}

.lupa {
    width: 25px;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(239, 0, 0);
}

.barrauno {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
    margin-bottom: 5px;
}

.barrauno ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.listabarra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;
}

.logo {
    width: 400px;
    align-items: center;
    padding-bottom: 30px;
}

.sectionlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header {
    background-color: rgb(250, 196, 237);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 25px;
    align-items: center;
    width: 97%;
    box-sizing: border-box;
    margin-top: 10px;
}


/* CSS de Index */
.contenedorPadreIndex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    background-color: rgb(250, 196, 237);
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 30px;
}

.asideIndex {
    width: 20%;
    background-color: rgb(250, 196, 237);
    border-radius: 25px;
    padding: 30px;
    align-self: flex-start;
    margin-top: 20px;
    height: 500px;
    margin-left: 15px;
}


/* CSS de Pagina de resultados */
.skincare {
    display: none;
}

.noSkincare {
    margin-top: 45px;
}

strong {
    font-weight: bolder;
}


/* CSS de footer */
footer {
    background-color: rgb(231, 59, 59);
    color: rgb(250, 196, 237);
    margin-top: 20px;
    padding-bottom: 20px;
}

.sectionfooteruno {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionintegrantes {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    width: 100vw;
    justify-content: center;
    padding-bottom: 15px;
}

.sectionfooteruno h3 {
    margin-bottom: 0px;
    text-align: center;
    font-size: 25px;
}

.sectionfooter {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

.infofooter {
    margin: 20px;
    font-size: 19px;
    margin-top: 6px;
    text-decoration: underline;
}

.infoIntegrantes {
    margin: 3px;
    font-size: 22px;
    align-self: center;
}

.tituloIntegrantes {
    font-size: 23px;
    margin: 0px 15px 0px 0px;
    text-decoration: dashed;

}


/* CSS de Register */
.forms {
    background-color: rgb(250, 196, 237);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    margin-top: 20px;
}

.labelform {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    padding-top: 7px;
    font-size: 20px;
}

.divsregister {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 6px;
    width: 300px;
}

.textoregister {
    text-decoration: none;
    color: rgb(239, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sansita Swashed", system-ui;
    font-size: 30px;
    margin-bottom: 30px;
    padding-top: 13px;
}

.botonregister {
    background-color: rgb(254, 235, 249);
    border-color: rgb(233, 188, 221);
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.botones {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.botontyc {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    font-size: smaller;
    margin-right: 57px;
    margin-top: 12px;
}

.acepto {
    margin-left: 8px;
    font-size: 20px;

}

input {
    font-size: 20px;
}

/* CSS de Login */
.botoningresar {
    background-color: rgb(254, 235, 249);
    border-color: rgb(233, 188, 221);
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

.olvido {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    text-decoration: none;
    color: rgb(239, 0, 0);
    align-items: center;
    margin-top: -23px;
}

/* CSS de category */
.tituloblush {
    font-size: 60px;
    color: rgb(239, 0, 0);
    width: 990px;
    margin-top: 30px;
    margin-bottom: -20px;
    margin-left: 66px;
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.detallesblush {
    font-size: 20px;
    margin: 0px;
    color: black;
    width: 250px;
}

.contenedorpadreblush {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    background-color: rgb(250, 196, 237);
    border-radius: 25px;
    margin-top: 20px;
}

.cadablush {
    margin: 10px;
    padding: 30px;
}

.imagenblush {
    width: 250px;
    border: solid 3px #cd2020;
}

.nombreblush {
    margin-bottom: 2px;
    margin-top: 2px;
    color: black;
    width: 250px;
}

/* CSS de aside */
aside {
    width: 20%;
    background-color: rgb(250, 196, 237);
    border-radius: 25px;
    padding: 30px;
    align-self: flex-start;
    margin-top: 20px;
    height: 500px;

}

.categorias li {
    margin-bottom: 20px;
}

.categorias li a {
    font-size: 30px;
}

.titulocate {
    font-size: 40px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.categorias {
    list-style-type: none;
    font-size: 25px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

/* Producto */

.imagenproducto {
    width: 450px;
    border: solid 3px #cd2020;
}

.tituloproducto {
    font-size: 45px;
    color: rgb(239, 0, 0);
    width: 990px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 66px;
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.detallesproducto {
    font-size: 30px;
    color: black;
    width: 250px;
    margin: 0px;
}

.detallesproducto2 {
    font-size: 25px;
    color: black;
    width: 250px;
    margin: 0px 0px 20px 0px;
}

.contenedorpadreproducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    background-color: rgb(250, 196, 237);
    border-radius: 25px;
    margin-top: 20px;
}

.descriproducto {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    height: 20%;
}


.descrtitulo {
    font-size: 30px;
    margin-bottom: 2px;
    color: rgb(239, 0, 0);
}

.descripcion {
    margin-top: 0px;
    font-size: 22px;
}

.tonosproducto {
    margin: 3px 0px 0px 18px;

}

.tonosproducto li {
    font-size: 20px;
    padding-left: 5px;
}

.botoncompra {
    color: rgb(255, 255, 255);
    background-color: rgb(239, 0, 0);
    margin-top: 25px;
    height: 50px;
    width: 250px;
    border: none;
}


/* Responsive Design Desktop First (Telefono)*/

/* Responsive Header */

@media (max-width: 460px) {
    .buscador {
        width: 100px;
    }

    .sectionbuscador {
        width: 122px;
    }

    .lupa {
        width: 25px;
    }

    a {
        font-size: 20px;
    }

    .logo {
        width: 248px;
    }

    header {
        width: 95%;
    }

    .listabarra{
        padding-right: 11px;
    }


    /* Responsive Aside */
    aside {
        width: 73%;
        margin-left: 6%;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 97%;
        flex-wrap: wrap;
    }

    .asideIndex {
        width: 73%;
        margin-left: 6%;
    }

    .contenedorPadreIndex {
        width: 89%;
        margin-left: 6%;
    }


    .cadablush {
        margin: 10px;
        padding: 10px 45px;
    }

    .contenedorpadreblush {
        width: 89%;
        margin-left: 6%;
    }

    .tituloblush {
        font-size: 46px;
        margin-bottom: 2px;
        margin-left: 0px;
        text-align: center;

    }

    .detallesblush{
        text-align: center;
    }

    .nombreblush{
        text-align: center;
    }

    /* Responsive Producto */
    .imagenproducto {
        width: 250px;
    }

    .tituloproducto {
        margin-left: -9px;
        margin-top: 30px;
        width: 80%;
    }

    .contenedorpadreproducto {
        width: 89%;
        margin-left: 6%;
    }

    .descriproducto {
        width: 80%;
    }

    .botoncompra {
        margin-bottom: 25px;
    }


/* Responsive Footer */
    footer {
        text-align: center;
    }

    .sectionfooteruno {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sectionintegrantes {
        flex-direction: column;
    }

    .sectionfooteruno h3 {
        margin-bottom: 14px;
    }

    .sectionfooter {
        display: flex;
        flex-direction: column;
    }

    .infofooter {
        margin: 0px;
    }

    .infoIntegrantes {
        margin: -2px;
    }

    .tituloIntegrantes {
        margin-bottom: 10px;
        margin-top: 28px;

    }


/* Responsive Register*/
    .forms{
        width: 89%;
        margin-left: 6%;
    }

    
/* Responsive Resultado Busqueda*/

    .noSkincare {
        margin-top: 45px;
        margin: 7% 5% 2% 5%;
        text-align: center;

}
}